* {font-family:"Forum",serif;}
* {margin:0; padding:0; box-sizing:border-box;}
nav {margin: 0; padding: 0; text-align: center;}
nav a {margin: 10px 0px 0px 10px; text-decoration: none; color: goldenrod; font-size: 150%}
nav a:hover {text-decoration: underline; color:cadetblue}
header h1 {text-align: center; color: rebeccapurple; font-size: 200%; margin: 10px 0 20px 0;}
header img {display: block; margin: 5px auto 5px; max-width: 80%;height: auto;}
body h2 {text-align: center; color: rgb(40, 24, 223); font-size: 150%; margin: 10px 0 5px 0;}
main {max-width: 85%; margin: 0 auto; font-size: 120%;} 
footer {background-color: black; color: white; padding: 10px 10px; margin-top: 20px;}
footer a {color: white; text-decoration: none;}
footer a:hover {text-decoration: underline; color:cadetblue}
table {margin: 20px auto; border-collapse: collapse; width: 80%;}
th, td {border: 1px solid rgb(0, 9, 81); padding: 5px 10px; text-align: center;}

/*<body class="background">, растягиваем на весь экран, flexbox режим, выравнивание вертикаль, горизонталь*/
body.background {min-height: 100vh; margin: 0; display: flex; align-items: center; justify-content: center; background: url("background.png") center/cover no-repeat; padding: 20px;}
/*<main class="center">*/
.center {display: flex; justify-content: center; align-items: center; width: 100%;}
/*<form class="card">*/
.card {background-color: #3e4a52; /*фон формы*/ border: 6px solid #2ea369; /*рамка*/ border-radius: 20px; /*скругленная рамка*/ padding: 25px 30px; max-width: 400px; width: 100%; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); display: flex; flex-direction: column; gap: 16px;}
.card h1 {text-align: center; color: #bb8dff; font-size: 2.2rem; margin-bottom: 10px;}
.card label {color: white; font-size: 1.1rem; display: flex; flex-direction: column; gap: 4px;
}

.card input[type="text"],.card input[type="password"] {width: 100%; padding: 10px 12px; background-color: #aeb5c7; border: none; border-radius: 8px; box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2); font-size: 1rem;}

.card button {width: 100%; padding: 12px; border: none; border-radius: 10px; background-color: #e9eefb; color: #1e2a44; font-size: 1.2rem; font-weight: bold; cursor: pointer; box-shadow: 0 4px 0 rgba(0, 0, 0, 0.3); transition: transform 0.1s ease;}

.card button:hover {transform: translateY(-2px);}

.card button:active {transform: translateY(2px); box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);}

.remember {display: flex; align-items: center; gap: 8px; color: white; font-size: 1rem; margin-top: 5px;}

.loginlink{display: block; width: max-content; margin: 8px auto 0; line-height: 0; padding: 0;}

.loginpic{display: block; width: 64px; height: 64px;object-fit: contain; cursor: pointer; transition: transform .2s;}

.loginpic:hover{ transform: scale(1.08); }
